/***** Mapa y Ubicación ****/
.contact{
    width: 85%;
    margin: 0 auto;
    .cont-enlac {
        font-style: map-get($map: $parrafo-p, $key: cursiva);
        @include ampltext3;
        &:hover {
            @include ampltext2;
        }
    }
    .mapa {
        @include ampl2;
    
        &:hover {
            @include anim-hover1;
        }
    }
    .contact-a {
        color: $inicial;
        text-decoration: $ninguno;
        &:hover {
            color: $coolGray;
            @include ampltext1;
        }
    }
    .direccion {
        .texto {
            font-family: $fuente-sec;
            font-weight: $fdelagado;
            font-size: $fta-medio;        
        }
        .img {
            @include wh(30px, 30px)
        }
        .dir-list {
            .wp {
                color: $inicial;
                text-decoration: $ninguno;
                &:hover {
                    color: $coolGray;
                    @include ampltext1;
                }
            }
        }
    }
}

