//// ***** Colores **** ////
$platinum: #ECECEC;
$silverBlue: #ADBBC6;
$coolGray: #8A8FA3;
$charcoalBlue: #374254;
$gunmetal: #0E1424;
$white: white;
$verdewp: #25d366;
$gris:#737c89;
$azulmarino:#082c66;


