$parrafo-p: (
    cursiva: $fcursiva,
    normal: $fnormal,
    justif: justify,
    centrado: center,
    negrita: bold,
    sombra:0.3px 0.3px 0.5px $gunmetal,
    sombra1:0.7px 0.7px 1px $gunmetal,
    sombra2:1px 0.5px .5px $gris,
    sombra3:1px 0.5px 1px $platinum,
    resalta:2px 2px 15px $silverBlue,
    interlineado: 2, 
);
    

