$fuente-princ:"EB Garamond", sans-serif;
$fuente-sec:"Roboto", sans-serif;
$fnormal: normal;
$fcursiva: italic;
$fdelagado: 100;
$fta-xxxchica:10px;
$fta-xxchica: 12px;
$fta-xchica: 15px;
$fta-chica: 18px;
$fta-medio: 20px;
$fta-grande1: 25px;
$fta-grande2: 30px;
$fta-grande3: 40px;
$fta-grande4: 35px;
$fta-large: large;
$fta-small: small;
$ninguno: none;
$inicial: initial;
$negr2: bolder;
$negr1: bold;
$interlin: 1.5;
$cero: 0;
$auto: auto;
$compl: 100%;
$centrado: center;

