$fuente-princ:"EB Garamond";
$fnormal: normal;
$fcursiva: italic;
$fta-xxchica: 10px;
$fta-xchica: 15px;
$fta-chica: 18px;
$fta-medio: 20px;
$fta-grande1: 25px;
$fta-grande2: 30px;
$fta-grande3: 40px;
$fta-large: large;
$fta-small: small;
$ninguno: none;
$inicial: initial;
$negr2: bolder;
$interlin: 1.5;
$cero: 0;
$auto: auto;
$compl: 100%;

